@model IEnumerable<MVCTrainingBlank.Models.ClassViewModel>
@{
    ViewBag.Title = "View";
}

<h2>Classes</h2>
<div class="Classes Model">
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Designator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOfCredits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor)
        </th>
        <th>
        </th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Designator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberOfCredits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID})
            </td>
        </tr>
    }
</table>
</div>


